body{
    color: black;
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    border: 10px solid black
}

header {
    text-align: center;
}

nav li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: larger;
    font-weight: 700;
}

