body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background: beige;

}

p{
    line-height: 1.8;
}
header,footer {
    text-align: center;
    border: 1px solid black;
    background-image: url("signature.jpg");
}

nav li {
    display: inline-block;
    padding: 10px;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;

}
img{
    max-width: 100%;
    display: block;
    height: auto;
}


a:hover{
    background-color: skyblue;
    padding: 10px;
    text-decoration: none;

}

a:visited{
    color: crimson;
}

a:active{
    box-shadow: lightcoral;
}

li a{
    text-decoration: none;
}